<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atrakcja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    

<style type="text/css">
    header{
    text-align: center;
    }
    </style>
    
</head>
<body>
	<header>Atrakcja - admin - dodaj:</header>
    <form action="#">
    	<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/city/add'">Miasto</button>
    	<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/object/addCitSh'">Obiekt</button>
    	<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/'">Powrót</button>
    </form>
</body>
</html>