<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atrakcja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    

<style type="text/css">
    header{
    text-align: center;
    }
    </style>
    
</head>
<body>
	<h1>Atrakcja - admin</h1>
    <form action="#" method="post">
    	<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/admin/acc'">Konto</button>
    	<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/admin/cor'">Korespondencja</button>
    	<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/city/sel'">Wybierz miasto</button>
    	<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/admin/del'">Usuń</button>
    	<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/admin/new'">Dodaj</button>
    	<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/ban/chooseUser'">Ban</button>
    	<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/home/logout'">Wyloguj</button>
    </form>
</body>
</html>