<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atrakcja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    

<style type="text/css">
    header{
    text-align: center;
    }
    </style>
    
    
</head>
<body>
	<h1>Wybor miasta</h1>
    <form action="#" th:with="var=${cid}" method="get">

        
<table>
    <thead>
        <tr>
            <th> Nazwa miasta </th>
            <th> Ilosc obiektów </th>
        </tr>
    </thead>

    <tbody >
    <tr th:if="${cities.empty}">
            <td colspan="3"> No cities availlable</td>
        </tr>
        <tr th:each="city : ${cities}">
        <td><button type="submit" th:formaction="'/sightseeing/city/miasto/' + ${city.city_id}"><span th:text="${city.city_name}">  </span></button></td>
      
            
            <td><span th:text="${city.obj_quan}"> Ilosc obiektów </span></td>
        </tr>
    </tbody>
    
</table>
    </form>
	<a href=http://localhost:9999/sightseeing>
	<button>Powrót</button>
	</a>
</body>
</html>