<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    

<style type="text/css">
    header{
    text-align: center;
    }
    </style>
    
    
</head>
<body>
	<h1>Miasta</h1>

<table>
    <thead>
        <tr>
            <th> Nazwa miasta </th>
            <th> Wielkosc </th>
			<th> ID </th>

        </tr>
    </thead>
    <tbody>
    <tr th:if="${cities.empty}">
            <td colspan="3"> No cities availlable</td>
        </tr>
        <tr th:each="city : ${cities}">
            <td><span th:text="${city.city_name}"> Nazwa Miasta </span></td>
            <td><span th:text="${city.obj_quan}"> Wielkosc </span></td>
			<td><span th:text="${city.city_id}"> ID </span></td>
        </tr>
    </tbody>
</table>



<a href=http://localhost:9999/sightseeing>
	<button>Powrót</button>
	</a>



</body>
</html>