<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atrakcja - usuwanie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    

<style type="text/css">
    header{
    text-align: center;
    }
    </style>
</head>
<body>
	<h1>Dane usunięte pomyślnie</h1>>

<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing'">Ok</button>
</body>
</html>