<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atrakcja - konto</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    

<style type="text/css">
    header{
    text-align: center;
    }
    </style>
</head>
<body>
	<h1>Czy na pewno chcesz usunąć konto?</h1>>
 
<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/user/del/conf'">Tak</button>
<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/user/acc'">Nie</button>
</body>
</html>