<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>REJESTRACJA</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

<style type="text/css">
header {
	text-align: center;
}

.formularz {
	float: center;
	justify-content: center;
	align-items: center;
	display: flex;
	padding: 200px;
	padding-top: 100px;
	padding-bottom: 25px;
}

button[type=reset] {
	margin-left: 45px;
}

}
</style>



</head>
<body>
	<header><h1>REJESTRACJA</h1></header>
	<div class="formularz">
		<form action="#" th:action="@{/user/add}" th:object="${sysuser}" method="post" autocomplete="off">

			<div class="form__group field">
				<input type="text" th:value="${cos}" th:field="*{f_name}" class="form__field"
					placeholder="Imie" name="name" id='name' required />
			</div>

			<div class="form__group field">
				<input type="text" th:field="*{l_name}" class="form__field"
					placeholder="Nazwisko" name="name" id='name' required />
			</div>

			<div class="form__group field">
				<input type="text" th:field="*{login}" class="form__field"
					placeholder="Login" name="name" id='name' required />
			</div>

			<div class="form__group field">
				<input type="text" th:field="*{passwd}" class="form__field"
					placeholder="Haslo" name="name" id='name' required />
			</div>

			<div class="form__group field">
				<input type="text" th:field="*{email}" class="form__field"
					placeholder="Email" name="name" id='name' required />
			</div>

			<div class="form__group field">
				<input type="text" th:field="*{avatar_path}" class="form__field"
					placeholder="Sciezka do avataru:" name="name" id='name' required />
			</div>


			<p>
				<button type="submit" value="Submit"
					onsubmit="href=http://localhost:9999/sightseeing">Submit</button>
				<button type="reset" value="Reset">Reset</button>
			</p>
			
			
		</form>
		</div>
		<div class="mainPage">
			<a href=http://localhost:9999/sightseeing>
			<button>Powrót</button>
			</a></div>

	

</body>
</html>