<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    

<style type="text/css">
    header{
    text-align: center;
    }
    </style>
</head>
<body>
	<h1>Zdjęcia</h1>

<table>
    <thead>
        <tr>
            <th> ID zdjęcia </th>
			<th> ID obiektu</th>
            <th> Scieżka do zdjęcia</th>			

        </tr>
    </thead>
    <tbody>
    <tr th:if="${photos.empty}">
            <td colspan="3"> No photos added</td>
        </tr>
        <tr th:each="photo : ${photos}">
            <td><span th:text="${photo.photo_id}"> ID zdjęcia </span></td>
            <td><span th:text="${photo.object_id}"> ID obiektu </span></td>
			<td><span th:text="${photo.photo_path}">  Scieżka do zdjęcia</span></td>

    </tbody>
</table>
<a href=http://localhost:9999/sightseeing>
	<button>Powrót</button>
	</a>
</body>
</html>