<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    

<style type="text/css">
    header{
    text-align: center;
    }
    </style>
</head>
<body>
	<h1>Trasy</h1>

<table>
    <thead>
        <tr>
            <th> Dystans </th>
            <th> ID pierwszego obiektu </th>
			<th> ID drugiego obiektu </th>
			<th> ID miasta </th>
			<th> ID </th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${routes.empty}">
            <td colspan="5"> No routes added</td>
        </tr>
        <tr th:each="route : ${routes}">
            <td><span th:text="${route.distance}">Dystans </span></td>
            <td><span th:text="${route.object_1_id}">ID pierwszego obiektu </span></td>
			<td><span th:text="${route.object_2_id}">ID drugiego obiektu</span></td>
			<td><span th:text="${route.city_id}">ID miasta </span></td>
			<td><span th:text="${route.route_id}">ID </span></td>
        </tr>
    </tbody>
</table>
<a href=http://localhost:9999/sightseeing>ng>
	<button>Powrót</button>
	</a>
</body>
</html>