<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atrakcja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	<style type="text/css">
    	header{
    	text-align: center;
   	 }
    </style>
</head>
<body>
	<h1>Nowa wiadomość</h1>
    <form action="#" th:action="'http://localhost:9999/sightseeing/user/msg'" th:object="${message}" method="post">
		<p class="px">Komentarz:</p>
		<p> <textarea cols="60" rows="6" th:field="*{contents}" ></textarea></p>
		<p><button type="submit" onclick="alert('Zapisano')">Wyślij</button> <button type="reset">Reset</button></p>
    </form>
	<a href=http://localhost:9999/sightseeing/home>
	<button>Powrót</button>
	</a>
</body>
</html>