<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Wybor miasta</h1>
    <form action="#"  th:action="@{/city/sel}" th:with="var=${cid}" method="post">

        
<table>
    <thead>
        <tr>
            <th> Nazwa miasta </th>
            <th> Ilosc obiektów </th>
        </tr>
    </thead>

    <tbody >
    <tr th:if="${cities.empty}">
            <td colspan="3"> No cities availlable</td>
        </tr>
        <tr th:each="city : ${cities}">
        <td><a th:href="'/sightseeing/city/miasto/' + ${city.city_id}"><span th:text="${city.city_name}">  </span></a></td>
      
            
            <td><span th:text="${city.obj_quan}"> Ilosc obiektów </span></td>
        </tr>
    </tbody>
    
</table>
    </form>
	<a href=http://localhost:9999/sightseeing>
	<button>Powrót</button>
	</a>
</body>
</html>