<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atrakcja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Atrakcja</h1>
    <form action="#" th:action="@{/home/def}" method="post">
    	<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/home/login'">Login</button>
    	<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/user/add'">Rejestracja</button>
    	<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/city/sel'">Wybierz miasto</button>
    </form>
</body>
</html>