<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atrakcja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Atrakcja - admin - usuń:</h1>
    <form action="#">
    	<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/admin/user'">Konto użytkowinka</button>
    	<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/admin/city'">Miasto</button>
    	<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/admin/obj'">Obiekt</button>
    	<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/'">Powrót</button>
    </form>
</body>
</html>