<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Użytkownicy</h1>

<table>
    <thead>
        <tr>
            <th> Imie </th>
            <th> Nazwisko </th>
			<th> Login </th>
            <th> Email </th>
            <th> Liczba komentarzy </th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${sysusers.empty}">
            <td colspan="5"> No users added </td>
        </tr>
        <tr th:each="user : ${sysusers}">
            <td><span th:text="${user.f_name}"> Imie </span></td>
            <td><span th:text="${user.l_name}"> Nazwisko </span></td>
			<td><span th:text="${user.login}"> Login </span></td>
			<td><span th:text="${user.email}"> Email </span></td>
            <td><span th:text="${user.comment_num}"> Liczba komentarzy </span></td>
        </tr>
    </tbody>
</table>


<a href=http://localhost:9999/sightseeing>
	<button>Powrót</button>
	</a>



</body>
</html>