<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atrakcja - konto</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Konto</h1>>
 <table th:variable="${user}">
    <thead>
        <tr></tr>
    </thead>
    <tbody>
        <tr>
        	<td>Imie</td>
            <td><span th:text="*{user.f_name}"></span></td>
        </tr>
        <tr>
        	<td>Nazwisko</td>
        	<td><span th:text="*{user.l_name}"></span></td>
        </tr>
        <tr>
        	<td>Login</td>
        	<td><span th:text="*{user.login}"></span></td>
        </tr>
        <tr>
        	<td>Haslo</td>
        	<td><span th:text="*{user.passwd}"></span></td>
        </tr>
        <tr>
        	<td>Email</td>
        	<td><span th:text="*{user.email}"></span></td>
        </tr>
        <tr>
        	<td>Komentarze</td>
         	<td><span th:text="*{user.comment_num}"></span></td>
        </tr>
    </tbody>
</table>
<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/user/change'">Zmień dane</button>
<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/user/del'">Usuń konto</button>
<button type="button" onclick = "window.location.href = 'http://localhost:9999/sightseeing/home'">Strona główna</button>
</body>
</html>