<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Bany</h1>

<table>
    <thead>
        <tr>
            <th> ID </th>
            <th> ID admina </th>
			<th> ID użytkownika </th>
			<th> Typ banu  </th>
			<th> Data od </th>
			<th> Data do </th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${bans.empty}">
            <td colspan="5"> No ban added</td>
        </tr>
        <tr th:each="ban : ${bans}">
            <td><span th:text="${ban.ban_id}">ID </span></td>
            <td><span th:text="${ban.admin_id}">ID admina </span></td>
			<td><span th:text="${ban.user_id}">ID użytkownika</span></td>
			<td><span th:text="${ban.ban_type}">Typ banu </span></td>
			<td><span th:text="${ban.date_since}">Data od </span></td>
			<td><span th:text="${ban.date_by}">Data do</span></td>
	
        </tr>
    </tbody>
</table>
<a href=http://localhost:8080/sightseeing>
	<button>Powrót</button>
	</a>
</body>
</html>